.songCard-body {
    width: 100%;
    height: 100%;
    color: white;
    padding-top: 10rem;
    padding-left: 30rem;
    background-color: #10346e;
    padding-bottom: 3rem;
}

.right-card {
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

p {
    color: white;
}

.row {
    padding-left: 30rem;
}
.song-image {
    width: 12%;
    height: 12%;
}

h1 {
    font-size: 55px;
}