.spotify-player-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;

    font-family: inherit;
}

.spotify-player-container {
    display: flex;
    align-items: center;
    background-color: #f2f2ff; /* Light pastel purple */
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    max-width: 1600px;
    width: 100%;
}

.now-playing-cover {
    width: 90px;
    height: 90px;
    border-radius: 10px;
    margin-right: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for image depth */
}

.now-playing-info {
    flex: 1;
}

.now-playing-details {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.now-playing-name {
    font-size: 24px;
    font-weight: bold;
    margin-right: 10px;
    color: #5d9cec; /* Pastel blue */
}

.now-playing-artist {
    font-size: 14px;
    color: #777; /* Softer dark grey */
}

.spotify-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.control-button {
    background: none;
    border: none;
    color: #2b2b2b; /* Softer dark grey */
    font-size: 20px;
    cursor: pointer;
    margin: 0 10px;
    transition: color 0.3s ease, transform 0.3s ease;
}

.control-button:hover {
    color: #5d9cec; /* Pastel blue on hover */
    transform: scale(1.1); /* Slightly enlarge on hover */
}

.progress-bar-wrapper {
    display: flex;
    align-items: center;
    width: 80%; /* Ensure it uses the full width */
    margin-top: 10px;
}

.current-time, .total-time {
    font-size: 12px;
    margin: 0 10px;
    color: #2b2b2b; /* Softer dark grey */
    white-space: nowrap; /* Prevent line break */
}

.progress-container {
    flex: 1; /* Take up remaining space */
    display: flex;
    align-items: center;
}

.progress {
    width: 100%;
    height: 8px; /* Height of the progress bar */
    background-color: #ddd; /* Light grey background */
    border-radius: 4px;
    overflow: hidden;
    position: relative;
}

.progress-filled {
    height: 100%;
    background-color: #5d9cec; /* Pastel blue */
    width: 0; /* Set initial width to 0 or a specific percentage */
    border-radius: 4px;
    transition: width 0.3s ease; /* Smooth transition for progress */
    position: absolute; /* Absolutely positioned inside the progress bar */
    top: 0;
    left: 0;
}



.volume-control {
    align-items: center;
    position: relative;
    margin-top: 10px;
}

.volume-control label {
    margin-right: 10px;
    font-size: 16px;
    color: #2b2b2b; /* Softer dark grey */
}

.volume-control input[type="range"] {
    -webkit-appearance: none;
    width: 100px; /* Increase width for better control */
    height: 5px;
    background: #ddd; /* Light grey */
    border-radius: 5px;
    outline: none;
    transition: background 0.3s;
}

.volume-control input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 10px;
    height: 10px;
    background: #5d9cec; /* Pastel blue */
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.volume-control input[type="range"]::-moz-range-thumb {
    width: 10px;
    height: 10px;
    background: #5d9cec; /* Pastel blue */
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
