.app-navbar{
    height: 5rem;
	width: calc(100% - 28rem);
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 2rem 0 26rem;
	z-index: 99;
}

.left {
    display: flex;
    align-items: center;
    margin-left: 1rem;
    margin-top: -3rem;
}

.profile-menu{
    display: flex;
	align-items: center;
	color: white;
	border-radius: 3rem;
	cursor: pointer;
    background-color: #481E14;
}

.profile-menu:hover {
    background-color: black;
}

p, h5{
    color: white;
    text-decoration: none;
}

.options {
    color: white;
    padding: 1.3rem;
    border-radius: 0.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
} 

.icon-click {
    width: 100px;
    height: 30px;
	object-fit: contain;
    margin: -1.9rem;
}
.menu {
    position: absolute;
    padding-top: 2rem;
    top: 2rem;
    right: 2rem;
    border-radius: 0.5rem;
    z-index: 100;
}

.box {
    position: relative;
    background-color: #481E14;
    border-radius: 0.5rem;
}

.right {
    width: 11rem;
    height: 10rem;
    padding-top: 6rem;
}


