.app-sidebar {
    position: fixed;
	top: 0;
	left: 0;
	width: 24rem;
	height: 100vh;
	background: #0C0C0C;
	display: inline;
	flex-direction: column;
	padding: 0 1rem;
	z-index: 100;
	align-items: center;
	justify-content: center;
	
}
.menu-link {
    color: white;
    display: flex;
    align-items: center;
    padding: 0.5rem 0;
    border-radius: 0.2rem;
    text-decoration: none;
    cursor: pointer;
}

.icon {
    width: 25px;
    height: 25px;
    margin: 0 1.5rem;
	object-fit: contain;
}
.icon-arrow {
    padding-left: 5rem;
    width: 20px;
    height: 20px;
    margin: 0 1.2rem;
	object-fit: contain;
}

span {
    font-size: 1.1rem;
	font-weight: 600;
}

span:hover {
    color: white;
}

p, h5{
    color: white;
}

.space{
    padding-bottom: 1rem;
}

.first-com{
    background-color: #121413;
    border: 2px solid #121413;
    border-radius: 8px;
}

.second-com{
    background-color: #121413;
    border: 2px solid #121413;
    border-radius: 8px;
}

.third-com {
    margin: 0.5rem;
    background-color: #1f1f1f;
    border: 2px solid #242323;
    border-radius: 8px;
}
