.current-song {
    padding-top: 5rem;
    background-color: #0C0C0C;
    padding-bottom: 30rem;
    color: white;
}

.song-rec{
    padding-top: 1rem;
    background-color: #121413;
    border: 2px solid #121413;
    border-radius: 8px;
    padding-bottom: 20rem;
}

