/* ListPlaylist.css */
.playlists {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px auto;
    max-width: 1200px;
}

.playlist {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 12px; /* Increased border radius for a softer look */
    width: 250px;
    background-color: #f2f2ff; /* Light pastel purple */
    color: #2b2b2b; /* Softer dark grey */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.playlist:hover {
    transform: translateY(-5px); /* Slight lift on hover */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Stronger shadow on hover */
}

.playlistImage {
    width: 100%;
    height: auto;
    border-radius: 12px; /* Increased border radius for a softer look */
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for image depth */
}

.playlistInfo {
    text-align: center;
}

.playlistName {
    font-size: 18px;
    margin: 10px 0;
    color: #5d9cec; /* Pastel blue */
    text-decoration: none; /* Overrides default link styling */
    cursor: pointer;
}

.playlistName:hover {
    color: #4a8bd4; /* Darker pastel blue on hover */
}

.playlistOwner {
    font-size: 14px;
    margin-bottom: 10px;
    color: #777; /* Softer dark grey */
}

.trackNumber {
    font-size: 14px;
    margin-bottom: 10px;
    color: #777; /* Softer dark grey */
}

.playButton {
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    border: none;
    border-radius: 20px; /* Rounded corners for a softer look */
    background-color: #5d9cec; /* Pastel blue */
    color: #fff; /* White text */
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.playButton:hover {
    background-color: #4a8bd4; /* Darker pastel blue on hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Stronger shadow on hover */
}

.backButton {
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    border: none;
    border-radius: 20px; /* Rounded corners for a softer look */
    background-color: #5d9cec; /* Pastel blue */
    color: #fff; /* White text */
    margin: 20px; /* Add margin to the back button */
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.backButton:hover {
    background-color: #4a8bd4; /* Darker pastel blue on hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Stronger shadow on hover */
}
